<ion-tabs class="font">

  <ion-tab-bar color="danger" slot="bottom">
    <ion-tab-button tab="productos">
      <ion-icon name="ios-cart"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compras">
      <ion-icon name="md-pricetags"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="md-contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
