ion-content {
  --background: #fff url("../../assets/fondo.jpg") no-repeat center center / cover;
}

.logo {
  width: 60%;
  padding-top: 150px;
}

.body {
  text-align: center;
}

.content {
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
}

.continue {
  background-color: rgba($color: #df393a, $alpha: 0);
  color: white;
  font-weight: bold;
}

.type{
  color: white;
  font-weight: bold;
}